# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/.vs/cParsing_12306/v17
/x64/Debug
/enc_temp_folder/3273d6397368f5352da8f8b8fda611
/train.csv
/x64/Release
/qETRC.csv
/ETRC
train.json
train.pyetdb
*.json
/.vs/cParsing_12306/FileContentIndex
/.vs
/bin/Release
/obj
